
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
}
.contenedor{
    border: 1px silver dashed;
    width: 90%;
    margin: 3px auto;
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap:  5px;
    gap: 10px 5px;
}
.elemento{
    border: 1px red solid;
    width: 24%;
    flex-basis: 1;
    flex-grow: 1;
}